.nav { 
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
}

.nav--desktop {
    @include flex( space-around, center );
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    @include nav-shadow( black );
}

.nav__menu--desktop {
  
}


.nav__home--desktop {
    @include flex( center, center );
    border: 1px solid green;
    height: 50px;
    width: 50px;
    color: $primary;
    font-size: 1.3rem;
    cursor: pointer;
    border-left: 1px dashed $primary;
    border-right: 1px dashed $primary;
    transition: all ease-in-out .1s;

    &:hover {
        font-size: 1.6rem;
        color: white;
    }
}

.nav__logo--desktop h1 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $primary;
}

.menu__icons--desktop {
    @include flex( center, center);
    height: 50px;
    width: 300px;
}

@-webkit-keyframes changeIconColor {
    0% { color: $primary; border-color: $primary; }
    50% { color: $secondary; border-color: $secondary ; }
    100% { color: $primary; border-color: $primary;}
}


.menu__item--desktop {
    @include flex( center, center );
    color: white;
    list-style-type: none;
    padding: 0 1em;
    border-left: 1px dashed $primary;
    font-size: 1.3rem;
    height: 100%;
    cursor: pointer;
    @include animation( changeIconColor, infinite, 10s );

    &:last-child {
        border-right: 1px dashed $primary;
    }

    & i {
        transition: all ease-in-out .1s;
    }

    &:hover {
        & i {
            transform: scale( 1.3 );
        }   
    }
}


.nav__toggle {
    position: absolute;
    padding: 1em;
    top: .5em;
    right: .5em;
    cursor: pointer;
    z-index: 1;
}


.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50%;
    background: transparent;
    transition: all ease-in-out 1s;
}

.menu__item {
    display: block;
    position: relative;
    transform: translateX( -50% );
    color: white;
    font-size: 1.7rem;
    border-right: 1px solid $primary;
    padding: 0 .5em;
    cursor: pointer;    
    transition: all ease-in-out .5s;

    &:last-child {
        border-right: none;
    }

    &:first-child {
        color: $primary;

        &:hover {
            color: white;
        }
    }

    &:hover {
        color: $primary;
    }
}

.nav__menu--open {
    top: -15px;
    left: 50%;
    transform: translateX( -50% );
}

.nav__menu--closed {
    left: 50%;
    top: -100px;
    transform: translateX( -50% );
}

.toggle__hamburger { 
    &,
    &::before,
    &::after {
        content: '';
        display: block;
        background: #EBEBD3;
        height: 3px;
        width: 1.5em;
        border-radius: 10px;
        transition: transform ease-in-out .5s;
    } 

    &::before {
        transform: translateY( -7px );
    }

    &::after {
        transform: translateY( 4px );
    }
    
}

.toggle__hamburger--toggled {
    & {
        transform: rotate( 45deg );
        background: $primary;
    }
    &::before {
        transform: rotate( -90deg );
        background: $primary;
    }
    &::after {
        display: none;
    }
}

