$primary: #1DE9B6;

.nav { 
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
}

.nav__toggle {
    position: absolute;
    padding: 1em;
    top: .5em;
    right: .5em;
    cursor: pointer;
    z-index: 1;
}


.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50%;
    background: transparent;
    transition: all ease-in-out 1s;
}

.menu__item {
    display: block;
    position: relative;
    transform: translateX( -50% );
    color: white;
    font-size: 1.7rem;
    border-right: 1px solid $primary;
    padding: 0 .5em;
    cursor: pointer;    
    transition: all ease-in-out .5s;

    &:last-child {
        border-right: none;
    }

    &:first-child {
        color: $primary;

        &:hover {
            color: white;
        }
    }

    &:hover {
        color: $primary;
        transform: scale( 1.1 );
    }
}

.nav__menu--open {
    top: -15px;
    left: 50%;
    transform: translateX( -50% );
}

.nav__menu--closed {
    left: 50%;
    top: -100px;
    transform: translateX( -50% );
}

.toggle__hamburger { 
    &,
    &::before,
    &::after {
        content: '';
        display: block;
        background: #EBEBD3;
        height: 3px;
        width: 1.5em;
        border-radius: 10px;
        transition: transform ease-in-out .5s;
    } 

    &::before {
        transform: translateY( -7px );
    }

    &::after {
        transform: translateY( 4px );
    }
    
}

.toggle__hamburger--toggled {
    & {
        transform: rotate( 45deg );
        background: $primary;
    }
    &::before {
        transform: rotate( -90deg );
        background: $primary;
    }
    &::after {
        display: none;
    }
}

