@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.landing {
  background: url("../../assets/coding_2.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: 'Encode Sans Condensed', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column; }

.landing__title {
  font-weight: 400;
  font-size: 2.3rem;
  color: #eceff1;
  text-transform: uppercase;
  padding: .75em 1.5em;
  border: 1px solid #1DE9B6;
  text-shadow: 1px 1px 5px black;
  transition: box-shadow 1s;
  cursor: pointer; }
  .landing__title:hover {
    color: white;
    box-shadow: inset 0 -5em 0 0 #1de9b6; }
    .landing__title:hover strong {
      color: white; }
  .landing__title strong {
    font-weight: 700;
    color: #1DE9B6;
    text-shadow: 1px 1px 5px black;
    transition: all ease-in-out 1s, box-shadow 1s; }
  @media screen and (min-width: 799px) {
    .landing__title {
      font-size: 5rem; } }

.landing__subtitle {
  color: #1DE9B6;
  font-size: 1rem;
  text-transform: uppercase; }

.landing__arrow {
  height: 30px;
  width: 30px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2em;
  border-radius: 50px;
  border: 2px solid white;
  transition: transform ease-in-out .5s; }
  .landing__arrow::before {
    content: "▼";
    color: white;
    position: relative;
    transition: all ease-in-out .5s; }
  .landing__arrow:hover, .landing__arrow:focus {
    transform: translateY(10px); }
    .landing__arrow:hover::before, .landing__arrow:focus::before {
      transform: rotate(180deg);
      color: #1DE9B6; }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(29, 233, 182, 0.5); } }

.landing__button {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  height: 20px;
  width: 130px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5em;
  border: 1px solid #1DE9B6;
  cursor: pointer; }
  .landing__button:hover {
    color: tomato; }
  .landing__button:hover, .landing__button:focus .landing__button--pulse {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0); }

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px; }

.nav__toggle {
  position: absolute;
  padding: 1em;
  top: .5em;
  right: .5em;
  cursor: pointer;
  z-index: 1; }

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50%;
  background: transparent;
  transition: all ease-in-out 1s; }

.menu__item {
  display: block;
  position: relative;
  transform: translateX(-50%);
  color: white;
  font-size: 1.7rem;
  border-right: 1px solid #1DE9B6;
  padding: 0 .5em;
  cursor: pointer;
  transition: all ease-in-out .5s; }
  .menu__item:last-child {
    border-right: none; }
  .menu__item:first-child {
    color: #1DE9B6; }
    .menu__item:first-child:hover {
      color: white; }
  .menu__item:hover {
    color: #1DE9B6;
    transform: scale(1.1); }

.nav__menu--open {
  top: -15px;
  left: 50%;
  transform: translateX(-50%); }

.nav__menu--closed {
  left: 50%;
  top: -100px;
  transform: translateX(-50%); }

.toggle__hamburger, .toggle__hamburger::before, .toggle__hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.5em;
  border-radius: 10px;
  transition: transform ease-in-out .5s; }

.toggle__hamburger::before {
  transform: translateY(-7px); }

.toggle__hamburger::after {
  transform: translateY(4px); }

.toggle__hamburger--toggled {
  transform: rotate(45deg);
  background: #1DE9B6; }

.toggle__hamburger--toggled::before {
  transform: rotate(-90deg);
  background: #1DE9B6; }

.toggle__hamburger--toggled::after {
  display: none; }
