@charset "UTF-8";
.landing {
  background: url("../../assets/coding_2.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: 'Encode Sans Condensed', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column; }

.landing__title {
  font-weight: 400;
  font-size: 2.3rem;
  color: #eceff1;
  text-transform: uppercase;
  padding: .75em 1.5em;
  border: 1px solid tomato;
  text-shadow: 1px 1px 5px black;
  transition: box-shadow 1s;
  cursor: pointer; }
  .landing__title:hover {
    color: white;
    box-shadow: inset 0 -5em 0 0 tomato; }
    .landing__title:hover strong {
      color: white; }
  .landing__title strong {
    font-weight: 700;
    color: tomato;
    text-shadow: 1px 1px 5px black;
    transition: all ease-in-out 1s, box-shadow 1s; }

.landing__subtitle {
  color: tomato;
  font-size: 1rem;
  text-transform: uppercase; }

.landing__arrow {
  height: 30px;
  width: 30px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2em;
  border-radius: 50px;
  border: 2px solid white;
  transition: transform ease-in-out .5s; }
  .landing__arrow::before {
    content: "▼";
    color: white;
    position: relative;
    transition: all ease-in-out .5s; }
  .landing__arrow:hover, .landing__arrow:focus {
    transform: translateY(10px); }
    .landing__arrow:hover::before, .landing__arrow:focus::before {
      transform: rotate(180deg);
      color: tomato; }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 99, 71, 0.5); } }

.landing__button {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  height: 20px;
  width: 130px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5em;
  border: 1px solid tomato;
  cursor: pointer; }
  .landing__button:hover {
    color: tomato; }
  .landing__button:hover, .landing__button:focus .landing__button--pulse {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0); }

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
